{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}
    <h1>Fill out the following details for the new page:</h1>
    <form action = "{% url 'encyclopedia:new_entry' %}" method = 'post' class="form-fields">
        {% csrf_token %}
        {{ form.entry_title.label_tag }} {{ form.entry_title }}
        <br>
        {{ form.text_area.label_tag }} {{ form.text_area }}
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}